In [1]:
name="송은석"
age=20     #실행:Sft+Enter

In [2]:
print(name,age)

송은석 20

In [3]:
print("이름은 %s입니다. 나이는 %d입니다."%(name, age))     #파이선2에서 주로 활용하던 방식
print("이름은 {}입니다. 나이는 {}입니다.".format(name, age))    #파이선 2.7~

#python 3.6~ : f-string (가장 많이씀)
print(f"이름은 {name}입니다. 나이는 {age}입니다.")

NameError: name 'name' is not defined

In [10]:
국어=100
영어=80
수학=95

In [11]:
총점=국어+영어+수학
평균=총점/3
총점,평균

(275, 91.66666666666667)

In [13]:
print("총점:%d, 평균:%.2f"%(총점,평균))
print(f"총점:{총점}, 평균:{평균:.2f}")

총점:275, 평균:91.67
총점:275, 평균:91.67

In [1]:
input(":이름은?")

:이름은?송은석

'송은석'

In [3]:
국어=input("국어 성적:")
국어

국어 성적:100 200 300

'100 200 300'

In [4]:
국어=int(input("국어 성적:"))
수학=int(input("수학 성적:"))
영어=int(input("영어 성적:"))

국어, 수학, 영어

국어 성적:100
수학 성적:80
영어 성적:90

(100, 80, 90)

In [9]:
line=input("국어 수학 영어 성적:")
#국어, 수학, 영어=line.split()   #white spaces를 구분자로 해서, 단어를 리스트화
#국어=int(국어)
#영어=int(영어)
#수학=int(수학)

국어, 수학, 영어 = map(int, line.split())

국어 수학 영어 성적:100 80 95

In [10]:
총점=국어+수학+영어
평균=총점/3
print("총점:%d, 평균:%f"%(총점,평균))
print(f"총점:{총점}, 평균:{평균:.2f}")

총점:275, 평균:91.666667
총점:275, 평균:91.67

In [11]:
숫자=input("다섯자리 숫자:")
숫자

다섯자리 숫자:12345

'12345'

In [12]:
print("1,2,3,4,5")

1,2,3,4,5

In [15]:
숫자[0], 숫자[1], 숫자[2], 숫자[3], 숫자[4]

('1', '2', '3', '4', '5')

In [16]:
','.join(숫자)

'1,2,3,4,5'

In [17]:
' , '.join(숫자)

'1 , 2 , 3 , 4 , 5'

In [19]:
' , '.join('12345')

'1 , 2 , 3 , 4 , 5'

In [20]:
' , '.join(['1','2','3','4','5'])

'1 , 2 , 3 , 4 , 5'

#기본자료형
1. 수치 자료형 : int, float, complex (복소수는 지원하나 활용도 낮음)
2. 부울 자료형 : bool(True/False)
3. 목록형 자료형 : str, list, tuple, set, dict 등

In [21]:
["a","b","c","d","e"]  #list
{"a","b","c","d","e"}  #set
("a","b","c","d","e")  #tuple (보기 좋으니 괄호로 묶어줌 아래와 가튼 튜플)
"a","b","c","d","e"  #tuple

('a', 'b', 'c', 'd', 'e')

In [22]:
[1]   #list
[1,]  #list
(1)   #int
(1,)  #tuple

(1,)

In [23]:
# 빈 리스트, 튜플, 집합, 사전
[], list()
(), tuple()
set()   #빈 집합
{}, dict()

({}, {})

In [25]:
{"a","b"}    #set
{"a":1,"b":2}    #dict

{'a': 1, 'b': 2}

Index와 슬라이싱 (중요, 많이 사용)

In [31]:
알파벳="abcdefghijklmnopqrstuvwxyz"
알파벳

'abcdefghijklmnopqrstuvwxyz'

In [32]:
알파벳[0]

'a'

In [33]:
len(알파벳)

26

In [35]:
print(알파벳[len(알파벳)-1])        #보통의 타언어
print(알파벳[-1])

z
z

In [37]:
알파벳[30]

IndexError: string index out of range

In [42]:
#알파벳[start:stop:step]      # start이상 stop미만  step
#start 생략 => 처음부터
#stop 생략 => 끝까지
#step 생략 => 1 혹은 -1

print(알파벳[1::3])
print(알파벳[2:-2])      #처음 두글자, 마지막 두글자 제외
print(알파벳[3:3+10])    #3번 인덱스 부터 10개 글자
print(알파벳[::-1])

behknqtwz
cdefghijklmnopqrstuvwx
defghijklm
zyxwvutsrqponmlkjihgfedcba

문제) 하나의 양의 정수를 입력받아서 그 수의 약수를 모두 출력하고, 약수의 개수도 출력하시요

In [43]:
range    #sft+tab 클릭시 함수 설명 표시

range

In [50]:
숫자=10
약수_리스트=[]

for i in range(1,숫자//2+1):
    if 숫자%i==0:
        # print(i)
        # 개수+=1
        약수_리스트.append(i)
        
#print(숫자)
#개수+=1
약수_리스트.append(숫자)
약수_개수=len(약수_리스트)

print(f"약수_리스트 :{약수_리스트}, 개수:{약수_개수}")

약수_리스트 :[1, 2, 5, 10], 개수:4

In [53]:
# number_list=[]
# for i in range(1,11):
# number_list.append(i**2)
# number_list

# list comprehension
number_list=[i**2 for i in range(1,11)]
number_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
print([i%3 for i in range(1,11)])    #list conprehension
print({i%3 for i in range(1,11)})    #Set conprehension
print({i:i%3 for i in range(1,11)})  #dict conprehension
print((i%3 for i in range(1,11)))    #Generator (고급)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
{0, 1, 2}
{1: 1, 2: 2, 3: 0, 4: 1, 5: 2, 6: 0, 7: 1, 8: 2, 9: 0, 10: 1}
<generator object <genexpr> at 0x00000245EA3AFE58>

In [57]:
숫자=10
#약수_리스트=[]

약수_리스트=[i
        for i in range(1,숫자//2+1)
        if 숫자%1==0]
약수_리스트.append(숫자)

약수_리스트

[1, 2, 3, 4, 5, 10]

문제) 인풋함수 한번에 다섯개의 정수를 입력받아서 그 정수들 중에서 가장 큰값을 출력 하시요

In [58]:
max([2,3,1,2,3,4,10])

10

In [71]:
정수1=int(input("정수를 입력하시오 : "))
정수2=int(input("정수를 입력하시오 : "))
정수3=int(input("정수를 입력하시오 : "))
정수4=int(input("정수를 입력하시오 : "))
정수5=int(input("정수를 입력하시오 : "))
print("최대값은 :",max(정수1,정수2,정수3,정수4,정수5))

정수를 입력하시오 : 3
정수를 입력하시오 : 6
정수를 입력하시오 : 2
정수를 입력하시오 : 1
정수를 입력하시오 : 7
최대값은 : 7

In [64]:
max(map(int, input("숫자 5개 입력 : ").split()))

숫자 5개 입력 : 2 4 7 9 1

9

In [65]:
line="10 20 30 40 50"
max(map(int, line.split()))   #generator

50

In [66]:
range(10)     #generator

range(0, 10)

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
성적_리스트=[
    {'국어':80, '영어':90, '수학':86},
    {'국어':78, '영어':88, '수학':85},
    {'국어':85, '영어':92, '수학':85},
    {'국어':80, '영어':90, '수학':86},
]

for idx, 성적 in enumerate(성적_리스트,1):
    총점=성적['국어']+성적['영어']+성적['수학']
    평균=총점/3
    print(f"{idx}, 평균:{평균:.2f}")

1, 평균:85.33
2, 평균:83.67
3, 평균:87.33
4, 평균:85.33

In [73]:
import pandas as pd

In [89]:
pd.DataFrame(성적_리스트)

   국어  수학  영어
0  80  86  90
1  78  85  88
2  85  85  92
3  80  86  90

In [90]:
df=pd.DataFrame(성적_리스트)
df

   국어  수학  영어
0  80  86  90
1  78  85  88
2  85  85  92
3  80  86  90

In [91]:
df['총점']=df['국어']+df['수학']+df['영어']
df['평균']=df['총점']//3
df

   국어  수학  영어   총점  평균
0  80  86  90  256  85
1  78  85  88  251  83
2  85  85  92  262  87
3  80  86  90  256  85

In [93]:
import xlwings as vw

vw.view(df)                  #엑셀 파일로 불러옴